@font-face {
  font-family: 'Brandon Text';
  src: url(./brandon-text.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

.reviewsNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 5%;
}