.pageNumbers {
  display: flex;
  font-family: 'Brandon Text';
  list-style: none;
  justify-content: center;
  text-align: center;
  line-height: 200%;
  border-top: solid #e3e3e3 1px;
  border-bottom: solid #e3e3e3 1px;
  padding: 10px 0;
}

.paginationBox {
  width: 30px;
}

.paginationBox .activePage{
  background-color: #e3e3e3;
  border-radius: 50%;
}

.activePage {
  font-weight: bold;
  cursor: default;
  height: 30px;
}

.inactivePage {
  
}

.inactivePage:hover {
  text-decoration: underline;

  cursor: pointer;
}

.reviewPostContainer {
  font-family: 'Brandon Text';
  display: flex;
  flex-direction: row;
  font-size: 16px;
  border-top: solid .5px #e3e3e3;
  padding-top: 40px;
  padding-bottom: 40px;
}

.reviewSmallContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  padding-right: 60px;
}

.rightBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
}

.reviewMainStarsOuter {
  z-index: -1;
  position: relative;
  display: inline-block;
}

.reviewMainStarsOuter::before {
  content: "★★★★★";
  font-weight: 900;
  font-size: 16px;
  color: #e3e3e3;
}

.reviewMainStarsInner {
  position: absolute;
  top: 0;
  left: 0;  
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.reviewMainStarsInner::before {
  content: "★★★★★";
  font-weight: 900;
  font-size: 16px;
  color: #000000;
}

.reviewMainTitle {
  font-weight: bold;
  padding-top: 10px;
}

.reviewMainBody {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.reviewMainNickName {
  font-size: 14px;
}

.reviewDate {
  font-size: 14px;
}

.reviewFit {
  font-size: 14px;
}

.staticB {
  width: 100%;
}
