.reviewsSortContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  border-top: solid .5px #e3e3e3;
  padding-top: 20px;
  margin-bottom: 15px;
}

.menu {
  position: absolute;
}

.reviewsStarSort {
  min-width: 110px;
  min-height: 40px;
  border-top: solid 2px #bbbbbb;
}

.LeftSortHeader {
  display: flex;
  width: 110px;
  height: 40px;
}

.LeftSortHeader1 {
  font-family: 'Brandon Text';
  font-weight: bold;
  font-size: 12px;
  outline: none;
  border-style: none;
  text-align: left;
  width: 80px;
}

.CarotHeader {
  width: 15px;
  align-content: right;
}

.LeftSort {
  display: flex;
  flex-direction: column;
  font-family: 'Brandon Text';
  font-size: 12px;
  outline: none;
  border: solid #e3e3e3 1px;
  width: 110px;
  height: 40px;
  text-align: left;
}

.LeftSort:hover {
  cursor: pointer;
  border-bottom: solid #e3e3e3 3px;
}

.dateSortHeader {
  display: flex;
  width: 213px;
  height: 40px;
  border: solid #e3e3e3 1px;

}

.dateSortHeader1 {
  font-family: 'Brandon Text';
  font-size: 12px;
  outline: none;
  text-align: left;
  width: 190px;
  border-style: none;
}

.dateSort {
  font-family: 'Brandon Text';
  font-size: 12px;
  outline: none;
  border: solid #e3e3e3 1px;
  width: 215px;
  height: 40px;
  text-align: left;
}

.dateSort:hover {
  cursor: pointer;
  border-bottom: solid #e3e3e3 3px;
}